<style>
:root{
  --back-color:-webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #301934;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.detail{
  padding-left: 263px;
}
.name{
    padding: 220px;
}
.dob{
    padding: 150px;
}
.dog{
    padding: 67px;
}
.bg{
    padding: 150px;
}
.gender{
    padding: 200px;
}
.email {
    padding: 215px;
}
.mobile {
    padding: 125px;
}
.aoi {
    padding: 118px;
}
.submit{
  padding-left:250px;
}


.welcome {
  padding-left: 900px;
  font-size: 25px;
}

.submit a {
    text-decoration:none;
    background: var(--back-color);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 10px;
    padding-left: 2px;
    margin: 25px 0px 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    width: 150px;
}
.submit a:hover {
    background: rgb(254,193,81);
    background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
    background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
    background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
    background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}

#sample {
    background: -webkit-linear-gradient(top,#c77ff2, #e8519e,#e8519e);
    color: white;
    padding: 0.5em 2em;
    margin-left: 225px;
    text-decoration: none;
    border-radius: 20px;
}

#sample:hover {
    background-color: #555;
}

.area {
    font-size:20px;
    font-family: sans-serif;
    padding-left: 380px;
    width:100%;
}

</style>
