<style>
html{

}
body {
background: linear-gradient(to bottom left,#fbc2eb, #a18cd1);      
font-family:Sans-serif;
color:#301934;
}
.oops {
font-size:80px;
}
.found {
position:absolute;
font-size:30px;
top:80px;
margin-left:10px;

}
.error {
   position:relative;
   margin:180px 0px 0px 430px;
}
img{
position:absolute;
right:280px;
top:0px;
height:200px;
border-radius:150px;
}
a {
  position:absolute;
  top:170px;
  background-color: #301934;
    color: white;
    padding: 0.5em 1em;
    margin-left:10px;
    text-decoration: none;
    border-radius: 20px;
    border:none;
    cursor:pointer;
    outline:none;
    }
button:hover {
  background-color: indigo;
}
</style>
